body{
    font-family: bahnschrift;
<<<<<<< HEAD
    background-color: #3C0919;
}

::selection{
    background-color: #E2294F;
=======
    background-color: #0E402D;
    /* cursor: url('/static/icons8-cursor-48.png'), animated ; */
}


.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2.5px solid #9FCC2E;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: changebrdrclr 2s infinite;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
  }
  
  .cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: white;
    color: white;
    animation: changeclr 2s infinite;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
  }
  
  .content:hover ~ .cursor{
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #c6c6c6;
    opacity: .5;
  }
  
  .content:hover ~ .cursor2{
    opacity: 0;
  }

  /* @keyframes changeclr{
    0%{background-color: red;}
    50%{background-color: blue;}
    100%{background-color:yellow;}
  }
  @keyframes changebrdrclr{
    0%{border: 2.5px solid yellow;}
    50%{border: 2.5px solid blue;}
    100%{border:2.5px solid red;}
  } */

::selection{
    background-color: #5A6650;
>>>>>>> 25d7359 (git pull)
    color: white;
}

.body{
    text-align: center;
    width: 50%;
    position: relative;
    top: 200px;
    margin: auto;
}

.header{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.navbar{
    width: 100%;
}

.navbar a{
    float: right;
    width: 10%;
    margin: 5px;
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: medium;
    text-align: center;
<<<<<<< HEAD
    border: 2px solid #3C0919;
=======
    border: 2px solid white;
>>>>>>> 25d7359 (git pull)
    transition: 0.5s;
    text-decoration: none;
    word-wrap: break-word;
}

.navbar a:hover{
    transition: 0.5s;
<<<<<<< HEAD
    border-bottom:2px solid white;
=======
    border-bottom:2px solid #9FCC2E;
>>>>>>> 25d7359 (git pull)
    color: white;
}



.imgbgimg{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
<<<<<<< HEAD
=======
    opacity: 0.25;
>>>>>>> 25d7359 (git pull)
}

.intro{
    color: white;
    text-align: center;
    border: 2px solid white;
}

.introname{
    font-size: 40px; 
    font-weight: bolder;
<<<<<<< HEAD
    text-shadow: 6px 7px 2px #E2294F, -5px -6px 1px #C41E3D;
=======
    text-shadow: 6px 7px 2px #9FCC2E, -5px -6px 1px #98BC3D;
>>>>>>> 25d7359 (git pull)
}

a{
    color: white;
    text-decoration:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    width: 20%;
    font-size: 20px;
    transition: 0.5s;
    position: relative;
    top: 20px;
}

.button:hover{
    background-color: white;
    transition: 1s ease;
}

.button:hover > span{
    transition: 0.5s;
    display: inline-block;
    width: auto;
    font-size: 20px;
<<<<<<< HEAD
    color: #3C0919;
=======
    color: #5A6650;
>>>>>>> 25d7359 (git pull)
    transition: 1s ease;
}

.button:hover > i{
<<<<<<< HEAD
    color: #7D1128;
=======
    color: #5A6650;
>>>>>>> 25d7359 (git pull)
    transition: 1s ease;
}

menu{
    position: relative;
    top: 75px;
    display: inline-block;
    width: 100%;
    padding: 0;
}

span{
    font-size: 0px;
    width: 0px;
    transition: 1s ease;
}

.about{
    width: 100%;
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 100px;
<<<<<<< HEAD
    border-bottom: 5px solid #C41E3D;
=======
    border-bottom: 5px solid #5A6650;
>>>>>>> 25d7359 (git pull)

}

.about p{
    word-wrap: break-word;
}

.aboutimg{
    width: 15%;
    border-radius: 50%;
<<<<<<< HEAD
    border: 2px solid#C41E3D;
}

.aboutspan{
    color: #C41E3D;
=======
    border: 2px solid#295135;
}

.aboutspan{
    color: #295135;
>>>>>>> 25d7359 (git pull)
}

.contact{
    position: relative;
    top: 100px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding: 20px;

}


.contactform{
    text-align: center;
    /* border: 2px solid #7D1128; */
    padding: 10px;
}

.contactbody{
<<<<<<< HEAD
    background-image: url('/static/x.jpg');
=======
    background-image: url('/static/Images Wallpaper.jfif');
>>>>>>> 25d7359 (git pull)
    background-repeat: no-repeat;
}

form{
    text-align: center;
    width: 50%;
    display: block;
    margin-left: auto;
}

.contact h2{
    width: 50%;
    margin-left: auto;

}

input{
    width: 75%;
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 2px solid white;
}

input::placeholder{
    color: white;
}

input[type=submit]{
<<<<<<< HEAD
    background-color: #C41E3D;
=======
    background-color: #295135;
>>>>>>> 25d7359 (git pull)
    border: none;
    cursor: pointer;
}

input:focus{
    outline: none;
}

.contacticons:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(355deg) brightness(104%) contrast(100%);
    transition: 0.2s ease all;
    cursor: pointer;
}

.contactformbutton svg{
    width: 25px;
}

.contactformbutton{
    width:75%;
    margin: auto;
}

.socialmediabox{
    width: 50%;
    margin-left: auto;
}

.socialmediabox a{
    display: inline-flex;
    text-align: center;
    position: relative;
    top: 0;
    width: auto;
}

<<<<<<< HEAD
/* .projectbody{

} */

=======
>>>>>>> 25d7359 (git pull)
.projectscontainer{
    width: 75%;
    color: white;
    margin: auto;
    position: relative;
    display: flex;
    transition: 0.5s ease;
<<<<<<< HEAD
    top: 125px;
=======
    /* top: 125px; */
>>>>>>> 25d7359 (git pull)
}

.projectslist ul{
    width: 100%;
    padding: 0;
    margin: 0;
}

.projectscontainer ul li{
    padding: 10px;
    margin: 15px;
    list-style-type: none;
}

.projectscontainer a{
    padding: 0;
    margin: 0;
    border: 2px solid transparent;
    width: 100%;
    position: relative;
    top: 0;
<<<<<<< HEAD
    background-color: #C41E3D;
}

.projectslist .active{
    background-color: #E2294F;
}

.projectscontainer button:hover{
    background-color: #FF2C55;
=======
    background-color: #295135;
}

.projectslist .active{
    background-color: #0E402D;
}

.projectscontainer button:hover{
    background-color: #9FCC2E;
>>>>>>> 25d7359 (git pull)
}

.projectcontent{
    background-color: white;
    color: black;
    width: 75%;
<<<<<<< HEAD
    z-index: 1;
=======
    z-index: -1;
>>>>>>> 25d7359 (git pull)
    padding: 15px;
    position: relative;
}

.projectslist button:focus{
<<<<<<< HEAD
    background-color: #E2294F;
=======
    background-color: #0E402D;
>>>>>>> 25d7359 (git pull)
}

button{
    display: block;
    width: 100%;
    font-size: 15px;
    border: 2px solid transparent;
<<<<<<< HEAD
    background-color: #C41E3D;
=======
    background-color: #295135;
>>>>>>> 25d7359 (git pull)
    color: white;
    cursor: pointer;
}

#projectcontentbody{
    text-align: center;
    margin: auto;
    transition: 0.5s ease;
}

.mailsentmsg{
    width: 50%;
    float: right;
    text-align: center;
}

.mailsentmsg p{
    color: white;
    margin:auto;
    background-color: rgb(255, 44, 85, 0.5);
    padding: 10px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 25d7359 (git pull)
