<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div style="display: block;margin-right: auto;margin-left: auto;width: 75%; ">
            <div class="header">
                    <div class="navbar">
                        <a href="/contact">Contact Me</a>
                        <a href="/projects">Projects</a>
                        <a href="/">Home</a>
                    </div>
            </div>
        <div class="about">
            <div class="aboutcontent">
                <img src="static\WhatsApp Image 2023-08-07 at 3.44.50 PM.jpeg" class="aboutimg" alt="" draggable="false" ><br>
                <h1 style="color: #C41E3D;">Know Me</h1>
                <p>
                    Hey, this is <p style="color: #7D1128; font-weight: bolder;">Shivansh Kumar</p> A student from Chandigarh University.
                    I am currently pursuing my MCA. I have completed my Bachelor's in Computer Science from University of Delhi with a score of 8.97 CGPA.
                    I am a <b>Machine Learning</b> and <b>Artificial Intelligence</b> Enthusiast. I have done many projects in that field. I indeed love python and this site
                    is too made in Flask. 
                </p>
                <p>I am fond of music, football and I love to eat and cook too.</p>
            </div>
        </div>
    </body>
</html>