<!DOCTYPE html>
<html>
    <head>
        <title>
            Shivansh Kumar
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- <div class="headerbase">
        <div style="display: block;margin-right: auto;margin-left: auto;width: 75%; ">
            <div class="header">
                <div class="title"><h1 style="color: white;">Shivansh Kumar</h1></div>
                    <div class="navbar">
                        <a href="/contact">Reach Me</a>
                        <a href="/about">About Me</a>
                        <a href="/home">Home</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="bgimg">
            <img src="static/wallpaperflare.com_wallpaper.jpg" class="imgbgimg" alt="bgimg">
        </div>
        <div class="body">
        <div class="intro">
            <p class="introname">Shivansh Kumar</p>
            <h3>Python Enthusiast</h3>
        </div>
        <menu>
            <a href="/about" class="button"><i class="fab fa-black-tie"></i><span id="atext">&nbspAbout Me</span></a>
            <a href="/projects" class="button"><i class="fas fa-laptop-code"></i><span id="atext">&nbspProjects</span></a>
            <a href="/contact" class="button"><i class="far fa-envelope"></i><span id="atext">&nbspGet in Touch</span></a>
        </menu>
    </div>
    </body>
</html>
